.about {
  padding: 3rem 0;
  background-color: var(--grey-color);
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1rem;
}

.section-title h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.about-text {
  text-align: left;
}

.about-title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.about-img img {
  max-width: 520px;
}

.about-text p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.2rem;
  color: #555;
}

@media (min-width: 768px) {
  .section-title h2 {
    font-size: 2.2rem;
  }

  .about-title {
    font-size: 2rem;
  }

  .about-text p {
    font-size: 1.1rem;
  }
}