.booklist,
.book-details {
  padding: 2rem 0;
  background-color: #f8f9fa;
}

.booklist-content {
  display: grid;
  gap: 1.5rem;
}

.book-item {
  padding: 1rem;
  border-radius: 4px;
  background-color: var(--white-color);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px 0px;
  transition: var(--transition);
}

.book-item:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.book-item-img img {
  max-width: 100px;
  margin: 0 auto;
  display: block;
}

.book-item-info {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.book-item-info-item.title {
  line-height: 1.2;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.book-item-info-item.author,
.book-item-info-item.publish-year {
  line-height: 1.2;
  margin-bottom: 0.3rem;
}

.book-item-info-item:not(.book-item-info-item.title) span:last-child {
  opacity: 0.8;
}

.book-item-info-item.publish-year {
  opacity: 0.6;
  font-style: italic;
  font-size: 0.85rem;
}

@media screen and (min-width: 600px) {
  .booklist-content {
    grid-template-columns: repeat(3, 1fr);
  }

  .book-item-img img {
    max-width: 90px;
  }
}

@media screen and (min-width: 992px) {
  .booklist-content {
    grid-template-columns: repeat(4, 1fr);
  }

  .book-item-img img {
    max-width: 80px;
  }
}