.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 75vh;
  background: linear-gradient(rgba(100, 149, 237, 0.5), rgba(70, 130, 180, 0.7));
  padding: 2rem;
}

.header-title {
  font-size: 3rem;
  font-weight: bold;
}

.header-text {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  opacity: 0.8;
}